.game-field {
  background-color: lightblue;
  min-height: 10vh;
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
  background-color: blue;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: red;
}
